body {
  border: 3px solid black;
  max-width: 850px;
  margin: 50px auto;
  padding: 10px;
  line-height: 30px;
  background-color: powderblue;
  background-image: url("https://images.pexels.com/photos/5745754/pexels-photo-5745754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
  margin-top: 50px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin-right: 50px;
  padding: 0;
  text-transform: capitalize;
  color: black;
  font-size: 15px;
  font-weight: 100px;
  list-style: none;
  line-height: 30px;
  margin-bottom: 4px;
}

.layout {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 0px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 32);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
.units {
  position: relative;
  font-size: 16px;
  top: -24px;
}

.box {
  padding: 1px;
  text-align: center;
}

.search-form {
  margin-top: 30px;
}
.active {
  color: rgb(33, 33, 32);
}
