.body {
  font-family: "DM Sans", sans-serif;
}
.weather-app {
  border: 3px solid black;
  margin: 30px auto;
  background-color: powderblue;
  background-image: url("https://images.pexels.com/photos/5745754/pexels-photo-5745754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  max-width: 900px;
  max-height: 800px;
}
p {
  color: black;
  font-weight: bold;
  font-size: 21px;
  text-transform: capitalize;
}

h1 {
  color: black;
  font-size: 32px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
  margin-top: 50px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin-top: 2px;
  margin-right: 50px;
  padding: 0;
  color: black;
  font-size: 20px;
  font: 1em sans-serif;
  font-weight: bold;
  list-style: none;
  line-height: 30px;
  margin-bottom: 4px;
}

.layout {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 0px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 32);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
.units {
  position: relative;
  font-size: 16px;
  top: -24px;
}

.search-form {
  margin-top: 30px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  font-size: 20px;
}
.weather-forecast-date {
  font-family: "Lato", sans-serif;
  color: #00204a;
  font-weight: 100;
}
.weather-forecast-temperature-min {
  font-family: "Lato", sans-serif;
  color: #00204a;
  font-weight: 100;
}
.code {
  color: #00204a;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
